body {
	background: #e8eae9;
}
body {
	background: #e8eae9;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #082136;
	font-size: 20px;
}

p {
	text-align: center;
	vertical-align: middle;
}

#container {
	display: block;
	width: 780px;
	height: 800px;
	background: #fff;
	margin: auto;
	top: 40px;
}

/*
.box-set {
  background: #e8eae9;
  overflow: auto;
  width: ;
  margin: auto;

}
*/

.content {
  background: #53A7FF;
  height: 700px;
  position: fixed;
  margin: 40px 18px;
  width: 750px;
  display: inline;
  z-index: -0;
  line-height: 700px;
}

.sidebar {
	background: #53a7ff; /* Old browsers */
	background: -moz-linear-gradient(left, #53a7ff 0%, #ffffff 20%, #ffffff 80%, #53a7ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#53a7ff), color-stop(20%,#ffffff), color-stop(80%,#ffffff), color-stop(100%,#53a7ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #53a7ff 0%,#ffffff 20%,#ffffff 80%,#53a7ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #53a7ff 0%,#ffffff 20%,#ffffff 80%,#53a7ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #53a7ff 0%,#ffffff 20%,#ffffff 80%,#53a7ff 100%); /* IE10+ */
	background: linear-gradient(to right, #53a7ff 0%,#ffffff 20%,#ffffff 80%,#53a7ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53a7ff', endColorstr='#53a7ff',GradientType=1 ); /* IE6-9 */
	height: 700px;
	float: right;
	margin: 40px 18px;
	width: 30%;
	display: inline;
	opacity: 0.05;
	transition-duration: 2s;
	z-index: 10;
	position: relative;
}

.sidebar:hover {
	opacity: .8;
}

.sidebar p {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	color: #53A7FF;
}
