body {
	background: #E6EEF9;
	font-family: 'Open Sans';
	font-weight: 300;
	color: #E6EEF9;
	font-size: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: 600;
	color: #3498DB;
	background: #E6EEF9;
}

/* First Header
#header {
	color: #2C3E50;
	font-weight: 600;
	width: 780px;
	position: relative;
	top: 30px;
	left: 20px;
	font-size: 25px;
}
*/

#header {
	width: 780px;
	height: 30px;
	background: #3498DB;
	position: relative;
	top: 30px;
	margin-top: 20px;
	z-index: 5;
	font-size: 15px;
	line-height:30px;
	text-align: center;
}


#container {
	display: block;
	width: 780px;
	height: 800px;
	margin: auto;
	overflow: hidden;
}

#footer {
	width: 780px;
	height: 30px;
	background: #3498DB;
	position: relative;
	bottom: 30px;
	margin-bottom: 20px;
	z-index: 5;
	font-size: 15px;
	line-height:30px;
	text-align: center;
}


/*
.box-set {
  background: #e8eae9;
  overflow: auto;
  width: ;
  margin: auto;

}
*/

.content {
  background: #2C3E50;
  height: 700px;
  position: relative;
  margin: 40px auto;
  width: 780px;
  display: block;
  z-index: 0;
  overflow: auto;
}

.content h2 {
	text-align: center;
}

.content p {
	padding: 0px 20px;
	font-size: 17px;
}

.sidebar {
	background: #2ECC71;
	height: 700px;
	float: right;
	margin: 40px 0px;
	width: 25%;
	display: inline;
	opacity: 0.035;
	transition-duration: 2s;
	z-index: 10;
	position: relative;
}

.sidebar:hover {
	opacity: 1;
	border-left: 15px solid #E6EEF9;
}

.sidebar p {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	color: #2C3E50;
}


/* Content Placeholder
.content p {
	width: 560px;
	height: 200px;
	color: #2ECC71;
	line-height: 200px;
}
*/

.post {
	width: 470px;
	height: 150px;
	margin: 20px 30px;
	line-height: 20px;
	color: #E6EEF9;
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	vertical-align: middle;
	padding: 20px;
	background: rgba(255,255,255,.2);
	position: relative;
	top: 20px;
	vertical-align: center;
}

.post span {
	color: #2ECC71;
}

.green {
	color: #2ECC71;
}

.center {
	margin: 10px auto;
}

.caption {
	background: rgba(44,62,80,.6);
	top: 30px;
	position: absolute;
	width: 440px;
	text-align: center;
}