body {
	background: #E6EEF9;
	font-family: 'Open Sans', 'Sans';
	font-weight: 300;
	color: #082136;
	font-size: 1em;
	max-width: 1200px;
	min-width: 900px;
	margin: auto;
}

a {
	text-decoration: none;
	color: #E6EEF9;
}

a:hover {
	text-decoration: none;
}


header {
	width: 100%;
	height: 60px;
	position: relative;
	margin-top: 20px;
	font-size: 15px;
	line-height:60px;
}

nav {
	position: relative;
	height: 60px;
	line-height: 60px;
	margin: 0px;
}

nav ul {
	margin: 0px;
	padding: 0px;
}

nav li {
	margin: 0px 0px;
	padding: 0;
	list-style: none;
	display: inline-block;
	background: #3498DB;
	width: 16.5%;
	float: right;
	text-align: center;
	font-size: 1.2em;
	border-left: 0px solid #E6EEF9;
}

nav li:hover {
	background: #082136;
}

nav a:hover {
	font-weight: 300;
	color: #3498DB;
}


footer {
	width: 100%;
	height: 60px;
	position: relative;
	margin-top: 20px;
	font-size: 15px;
	line-height:60px;
	text-align: center;
	background: #3498DB;
	color: #082136;
}

#logo {
	line-height: 2em;
	font-size: 2em;
	background: #3498DB;
	text-align: center;
	width: 30%;
	position: relative;
	float: left;
	z-index: 5;
}

#logo a:hover {
	font-weight: 300;
}

.content {
  background: #2C3E50;
  height: 700px;
  position: relative;
  margin: 20px auto;
  width: 100%;
  display: block;
  z-index: 0;
}

.front-content {
	width: 95%;
	height: 300px;
	margin: 0 auto;
	top: 4%;
	color: #E6EEF9;
	font-size: 1.2em;
	font-weight: 300;
	background: rgba(255,255,255,.2);
	position: relative;
	display: block;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
}

.front-content p {
	margin-bottom: 20px;
}

.front-content span {
	color: #2ECC71;
}

.front-option1 {
	width: 40%;
	height: 300px;
	margin: 5% 0% 0% 10%;
	color: #E6EEF9;
	font-size: 15px;
	font-weight: 300;
	background: rgba(255,255,255,.2);
	position: relative;
	display: block;
	float: left;
	text-align: center;
	line-height: 300px;
}

.front-option2 {
	width: 40%;
	height: 300px;
	margin: 5% 10% 0% 0%;
	color: #E6EEF9;
	font-size: 15px;
	font-weight: 300;
	background: rgba(255,255,255,.2);
	position: relative;
	display: block;
	float: left;
	text-align: center;
	line-height: 300px;
}

.front-option1:hover {
	background: #082136;
	border-right: .5% solid #2C3E50;
}

.front-option2:hover {
	background: #082136;
	border-left: .5% solid #2C3E50;
}

.work-content {
  background: #2C3E50;
  height: 700px;
  position: relative;
  margin: 20px 0px;
  width: 70%;
  display: block;
  z-index: 0;
  overflow: auto;
}

.work-content p {
	text-align: left;
	padding: 2%;
}

.work-grid {
	width: 30%;
	height: 300px;
	margin: 3% 1.65% 0% 1.65%;
	color: #E6EEF9;
	font-size: 15px;
	font-weight: 300;
	background: rgba(255,255,255,.2);
	position: relative;
	display: block;
	float: left;
}

.bio-content {
	width: 95%;
	height: 90%;
	margin: 0 auto;
	top: 4%;
	color: #E6EEF9;
	font-size: 1.2em;
	font-weight: 300;
	background: rgba(255,255,255,.2);
	position: relative;
	display: block;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
}

.bio-content p {
	margin-bottom: 20px;
}

.bio-content span {
	color: #2ECC71;
}


.sidebar {
  height: 700px;
  margin: 20px 0;
  width: 100%;
  display: block;
	background: #2ECC71;
	float: right;
	width: 25%;
	display: inline;
	opacity: 0.035;
	transition-duration: 2s;
	z-index: 10;
	position: relative;
}

.sidebar:hover {
	opacity: 1;
	border-left: 20px solid #E6EEF9;
}

.sidebar p {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	color: #2C3E50;
}

.post {
	width: 90%;
	height: auto;
	margin: 1% auto;
	top: 4%;
	color: #E6EEF9;
	font-size: 1.2em;
	font-weight: 300;
	background: rgba(255,255,255,.2);
	position: relative;
	float: left;
	left: 5%;
	display: block;
	text-align: center;
	vertical-align: middle;
}

.post li {
	display: block;
}

.green {
	color: #2ECC71;
}

.center {
	margin: 1% auto;
}

.resources-caption {
	background: rgba(44,62,80,.6);
	top: 30px;
	position: absolute;
	width: 100%;
	text-align: center;
}